<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senate</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="icon" href="style/tgif.svg">
</head>


<header class="d-flex justify-content-around justify-content-md-between align-items-center p-2">
    <a href="https://www.whitehouse.gov/the_press_office/TransparencyandOpenGovernment" class="p-0"> <img class="logo "
            src="style/tgif.svg" alt="tgif logo"></a>
    <h1>TGIF</h1>
    <a href="mailto:info@tgif.net?subject=info" class="p-0"> <i class="far fa-envelope"></i> <span class="d-none d-md-inline pr-md-2">  info@tgif.net</span></a>
</header>

<body id="senate">

    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="index.html">Home</a>
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Congress 113
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Senate</a>
                        <a class="dropdown-item" href="house-data.html">House</a>

                    </div>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Attendance
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="attendance-senate.html">Senate</a>
                        <a class="dropdown-item" href="attendance-house.html">House</a>

                    </div>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Party Loyalty
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="party-l-senate.html">Senate</a>
                        <a class="dropdown-item" href="party-l-house.html">House</a>

                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div id="app">
        
        <h2>Senators</h2>
        <p class="text-justify mx-auto w-75">First convened in 1789, the composition and powers of the Senate are
            established in Article One of the U.S.
            Constitution. Each state is represented by two senators, regardless of population, who serve staggered
            six-year terms. The Senate has several exclusive powers not granted to the House, including consenting to
            treaties as a precondition to their ratification and consenting to or confirming appointments of Cabinet
            secretaries, federal judges, other federal executive officials, military officers, regulatory officials,
            ambassadors, and other federal uniformed officers, as well as trial of federal officials impeached by the
            House.
        </p>


        <form action="" onsubmit="return false" class="w-75 mx-auto d-flex align-items-end mb-4 justify-content-around">
            <div>

                <legend>Filter by party</legend>

                <label for="R" class="mr-1">Republican</label>
                <input type="checkbox" name="party" value="R" id="R" v-model="checkedParties">

                <label for="D" class="mr-1 ml-2">Democrat</label>
                <input type="checkbox" name="party" value="D" id="D" v-model="checkedParties">
                
                <label for="ID" class="mr-1 ml-2">Independent</label>
                <input type="checkbox" name="party" value="ID" id="ID" v-model="checkedParties">

            </div>
 
            <fieldset>
                <label for="state">State
                    <select name="state" id="select" v-model="selectedState">
                        <option value="All">All</option>
                        <option v-bind:value="state" v-for="state in states" >{{state}}</option>

                    </select>
                </label>
            </fieldset>

        </form>

        <table class="table w-75 mx-auto text-center" id="congress-data">
            <thead>
                <th>Full name</th>
                <th>party</th>
                <th>State</th>
                <th>Years in office</th>
                <th> % votes with party</th>
            </thead>
            <tbody>
                <tr v-for="member in filtered">
                    <td><a v-bind:href="member.url"> {{member.first_name}} {{member.middle_name || ""}} {{member.last_name}}</a></td>
                    <td>{{member.party}}</td>
                    <td>{{member.state}}</td>
                    <td>{{member.seniority}}</td>
                    <td>{{member.missed_votes_pct}} %</td>
                </tr>
            </tbody>

        </table>

    </div>

    <footer id="senate-footer" class="text-center p-2 align-items-center">
        <p> @2020 TGIF | All rights Reserved </p>
    </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script/main.js"></script>
</body>

</html>